html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    background-color: #e95454;
}

.container{
    max-width: 45rem;
    width: 95%;
    margin: 0 auto;
}

.calculator{
    background-color: rgb(18, 18, 39);
    margin-top: 5rem;
    border-radius: 1rem;
    padding: 1.5rem;
}

#output{
    width: 100%;
    padding: 3rem 0;
    background-color: #fff;
    border: none;
    border-radius: 1rem;
    font-size: 3rem;
    text-align: right;
}

.calculator__buttons{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 1.5rem;
}


.calculator__buttons button{
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    border: none;
    font-size: 1.8rem;
    padding: 2rem;
    border: 1px solid #433e3e;
    border-radius: 1rem;
    cursor: pointer;
    transition: .2s ease;
}
.calculator__buttons button:hover{
    background-color: #17172c;
}

.input.resultado{
    background-color: #e95454;
    grid-row: 4/6;
    grid-column: 4/5;
}

.input:last-of-type{
    grid-column: 1/4;
}


.footer{
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer span{
    text-transform: none;
    font-size: 1.3rem;
}

.footer a{
    transition: .2s ease;
}
.footer a:hover{
    transform: scale(1.1);
}
